body {
    width:100%;
    height:auto;
    background:#000000;
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Arial;
}
a
{
    text-decoration:none;
}
#TrangDau{
}
/*Header*/
header {
    display:none;
}
/*Treeview*/
#NightMenu
{
  margin:1% 2% 1% 2%;
  font-size:24px;
  font-weight:bold;
  display:none;
  border-bottom:5px solid #47b1aa;  
  width:96%;
  height:290px;
  overflow-x: hidden;
}
#NightMenu span{
  display:none;
}
#TreeView1n0Nodes{
  border-top:3px solid #47b1aa;
  border-left:3px solid #47b1aa;
  border-radius:0px 50px 0px 50px;
  background:rgb(0, 0, 0);
  padding:1%;
  padding-bottom:2%;
  float:left;
  width:17%;
  height:auto;
}
#TreeView1n0Nodes table{
  color:black;
  padding:5%;
  width:20%;
  margin-top:6px;
}
#TreeView1n0Nodes a{
  margin-top:20px;
  border-left: 5px solid #47b1aa;
  border-radius:50px 50px 50px 0px ;
  color:#fbfbfb;
  padding:2%;
  padding-right:10%;
  transition: 0.4s;
/*   border-bottom:3px solid #47b1aa; */
}
#NightMenu  a:hover
{
  background-color: rgb(255, 255, 255);
  color:#000000;
  padding:2%;
  padding-right:30%;
  background:#ffffff;
}
.logotreeview
{
  height:auto;
  display:inline-block;
}
.logotreeview img{
  margin:1% 0% 0% 90%;
  width:65%;
  height:auto;
}
/*ghitrang*/
#ghitrang
{
    margin-left:2%;
    color:white;
    font-size:20px;
    padding:0.5%;
    padding-right:2%;
    background-color: rgba(255, 255, 255,0.4);
    border-left: 5px solid #47b1aa;
    border-radius:0px 50px 50px 0px;
    display:inline-block;
}

/*footer*/
footer {
    margin: 2% 0% 2% 0%;
    width:100%;
    height:auto;
    background:#000000;
    text-align:center;
    font-size:20px;
    float:left;
    padding-top:1%;
    padding-bottom:1%;
    display:flex;
    color:white;
}
#map{
  margin:2% 2% 0% 10%;
  width:300px;
  height:200px;
  border:2px solid white;
}
.bando{
  width:300px;
  height:200px;
  border:1px solid;
}
#Ffooter
{
  width:50%;
  display:flex;
  margin:1% 1% 1% 13%;
}
#Ffooter .F1{
  margin:0% 5% 0% 0%;
  text-align:left;
} 
#Ffooter .F2{
   margin:0% 0% 0% 0%;
   text-align:left;
} 

section#NoiDung {
    width:94%;
    height:auto;
    float:left;
    background:#2fb9d4;
    padding:1%;
    margin:0% 2% 0% 2%;
    box-shadow:0px 0px 10px 2px  #26a7bb; 
}
/* #DropDownList{
    width:13%;
    height:auto;
    float:right;
    margin:5% 2% 2% 0%;
    background:#59ddd4;
    padding:2%;
    text-align:center;
}
    /*Themee*/
#GiaoDien {
  height: 0px;
  width: 18%;
  position: fixed;
  z-index: 1;
  top:60%;
  right:1%;
  background-color: rgba(89, 221, 212,0.4);
  overflow-x: hidden;
  transition:0.3s;
  text-align:center;
  display: block;
  overflow: hidden;
}
.Tkdangxuat{
  padding:2%;
  color:white;
  background:#26b4d0;
  font-weight:bold;
}
.sidebar
{
    padding-top:5%;
}
.icon {
  background:rgba(55, 212, 212,0.4);
  transition: margin-left .5s;
  margin:1% 0% 1% 1%;
  position: fixed;
  right:1%;
  bottom:0%;;
  text-decoration: none;
  border:2px white solid;
  padding:1%;
  font-weight:bold;
  color:#ffffff;
  border-radius:100%;
}
#TaiKhoan
{
    border:solid white;
    margin:5% 5% 3% 5%;
    padding:8%;
    background:rgba(89, 221, 212,0.8);
    width:70%;
    height:50px;
}
#TaiKhoan a{
  font-weight:bold;
  
}
/*GioiThieu*/
.GT1 {
    float:left;
    width:45%;
    margin:1% 1% 1% 1%;
    color:white;
    background:#26a7bb;
    padding:1%;
    border:double white;
}
.GT2 {
    float:left;
    width:45%;
    margin:1% 1% 1% 1%;
    color:white;
    background:#26a7bb;
    padding:1%;
    border:double white;
}
/*HinhAnh*/
.QC1{
  width:96%;
  height:auto;
  text-align:center;
  margin:2% 1% 2% 2%;
  border: solid 1px #fff;
  background:rgba(58, 157, 187,0.8);
}
.QC1 h1{
  color:#fff;
}
.Trang1 img {
  vertical-align: middle;
    height: auto;
    width: 100%;
    margin-left: 2px;
}
.Trang2 img {
  vertical-align: middle;
    height: auto;
    width: 100%;
    margin-left: 2px;
}
.container {
  position: relative;
  padding:1%;
  margin:0% 0% 0% 0%;
  display: inline-block;
}
.mySlides {
  display: none;
  margin:0% 0% 3% 0%;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 26px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left:0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  color: black;
}
.numbertext {
  display:none;
}
.caption-container {
  text-align: center;
  background-color: rgba(255, 255, 255,0.8);
  padding: 2px 16px;
  color: black;
  margin:1% 0% 1% 0%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  margin:1% 0% 0% 0%;
  float: left;
  width: 16%;
  height:auto;
}
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.row{
  text-align:center;
  margin:0% 0% 0% 6%;
  box-sizing:border-box;
}
/*HinhAnh2*/
#HA
{
  width:94%;
  padding:1%;
  height:auto;
  background:#44b0c8;
  margin:1% 0% 0% 2%;
  border:1px solid white;
  
}
#HA h1{
  background:rgba(109, 255, 255,0.6);
  color:white;
  padding:0.5% 0.5% 0% 1%;
  border-bottom:2px solid white;
  border-radius:100px 0px 50px 0px;
}
.Ab1 {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}
.ColumAlbum {
  -ms-flex: 50%; 
  flex: 20%;
  padding: 0 4px;
}

.ColumAlbum img {
  margin-top: 8px;
  vertical-align: middle;
}
/*KHACHHANG*/
#KhachHang h1{
  color:#000000;
  text-align: left;
  margin:1% 0% 0% 2%;
  border:2px solid white;
  padding:1%;
  width:10%;
  border-radius: 0px 50px 50px 2px;
  background:#37d4d4;
}
.TrinhBay{
  margin: 2% 2% 2% 2%;
  border: solid #fff 2px;
  width:96%;
  background:rgb(55, 212, 212);
  text-align:left;
}
.TrinhBay ul{
  list-style:none;
  font-size:20px;
  padding:1%;
  width:90%;
  margin:1% 5% 1% 5%;
  background:#37d4d4;
  border:solid 1px white;
  border-radius: 50px 50px 50px 50px;
}
.TrinhBay p{
  text-indent:20px;
}

.TrinhBay span{
  text-align:center;
  border:solid 1px white;
  margin-left:18%;
  background:#f7f7f778;
  border-radius: 50px 50px 50px 50px;
  font-weight:bold;
  padding:5px;
}
/*TrangChu*/
.QuangCao{
      border: solid #fff 1px;
      text-align: center;
      margin: 1% 0% 0% 5%; 
      background: url(/StudioQH/Images/rrr.jpg) no-repeat;
      background-position: 0px -130px;
      background-size: cover;
      border: solid #fff 3px;
        border-radius: 4px; 
        box-shadow: 0 0 20px rgba(0, 214, 224, 0.6);
        height:135vh;
        width:90%;

}
.QuangCao div{
  font-size: 150%;
  color:#32a0c2;
  text-shadow: 1px 2px white;
}
.TimKiem{
  border: solid #fff 1px;
  text-align: center;
  margin: 2% 0% 0% 0%;
  background:rgba(50, 160, 194,0.9);
  color:white;
  height:60px;
}
.TimKiem a{
  margin: 0% 0% 0% 2%;
  float:left;
}
.TimKiem input{
  font-size:20px;
  width:35%;
  height:auto;
  margin:0% 0% 0% 20%;
}
.TimKiem button{
  font-size:20px;
  width:15%;
  height:auto;
  margin:0% 0% 0% 0%;
}

#GioiThieu{
  margin: 2% 0% 0% 0%;
  float:left;
}
.Trang1{
    margin: 0% 0% 0% 3%;
    background: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    border-radius: 4px;
    width: 44%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgb(99, 192, 202);
    color:#63c0ca;
    border: solid #fff 3px;
    margin-bottom:1%;
    text-align:center;
    float:left;
}
.Trang2{
    margin: 0% 3% 0% 0%;
    background: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    border-radius: 4px;
    width: 44%;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgb(99, 192, 202);
    color:#63c0ca;
    border: solid #fff 3px;
    margin-bottom:1%;
    text-align:center;
    float:right;
}
.x2{
  text-align:left;
  padding:5px;
  margin:0% 0% 0% 0%;

}
/*Đăng Ký*/
/*.DKy{
  text-align:center;
}
.DKy h1{
  color:white;
}
.ErrorMessage { color: Red; }
.auto-style1{

  border:solid white;
  background:#59ddd4;
  text-align:left;
  width:45%;
  height:auto;
  font-size:20px;
  padding:2%;
  margin:0% 0% 0% 30%;
}
.auto-style3
    {
        width:20%;
    }
    .auto-style4
    {
        width: 40%;
    }
    .auto-style7{
      width:5%;
    }
.CLbntDK
{
    color:white;
    background:rgba(0, 214, 224, 0.6);
    padding:2%;
    font-weight:bolder;
    margin:5% 0% 0% 20%;
}*/
/*My Bar*/
.MyBar {
  display: inline-block;
  cursor: pointer; 
  margin:1% 0% 0% 2%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

