body {
    width:100%;
    height:auto;
    background:white;
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Arial;
}
a
{
    text-decoration:none;
}
#TrangDau{
  
}
/*Header*/
header {
    height:auto;    
    width:100%;
    background: #26b4d0;
    text-align:center;
    margin:2% 0% 1% 0%;
    padding-top:1%;
    font-size:0%;
}
header a{
    text-decoration: none;
}
header img{
  width:20%;
}
#Menu{
  border-top:5px solid #6dffff;
  background:#26b4d0;
  width:100%;
  height:auto;
  text-align:center;
  margin-bottom:1%;
}
#Menu li{
  margin:0%;
}
#Menu ul.level1{
  padding:1%;
  font-size:27px;
  font-weight: bold;
  margin:0% 0% 0% 25%; 
}
#Menu ul.level1 .selected
{
/* Khi các menu cấp 1 kích hoạt (hay chế độ active) */
  background-color: #509EE7;
  background-color: rgba(85, 26, 139,0.2);
  border-left: 5px solid #6dffff;
  border-radius:0% 5% 5% 0%;
  color:white;

}
#Menu a.level1
{
/* Thêm các khoảng trống bên trái các mục menu*/
  padding-left: 20px !important; 
  margin:auto;
  padding:1%;
  color:white;

} 
#Menu a.level2 
{ 
/* Định dạng cho các menu cấp 2 như By Genre, All Reviews,... */
background-color: #555555;
padding-left: 8px;
}
#Menu a.level1:hover, a.level2:hover
{
/* Màu nền của các menu (cấp 1 và 2) khi hover */
background-color: #509EE7;
  background-color: rgba(85, 26, 139,0.2);
  border-left: 5px solid #6dffff;
  border-radius:0% 5% 5% 0%;
  color:white;
}
/*No Treeview*/
.logotreeview
{
    display:none;
}
/*ghitrang*/
#ghitrang
{
    margin-left:2%;
    color:white;
    font-size:20px;
    padding:0.5%;
    padding-right:2%;
    background-color: rgb(38, 180, 208);
    border-left: 5px solid #6dffff;
    border-radius:0px 50px 50px 0px;
}

/*footer*/
footer {
    border-top:5px solid #6dffff;
    margin: 2% 0% 2% 0%;
    width:100%;
    height:auto;
    background:#26b4d0;
    text-align:center;
    font-size:20px;
    float:left;
    padding-top:1%;
    padding-bottom:1%;
    display:flex;
}
#map{
  margin:2% 2% 0% 10%;
  width:300px;
  height:200px;
  border:2px solid white;
}
.bando{
  width:300px;
  height:200px;
  border:1px solid;
}
#Ffooter
{
  width:50%;
  display:flex;
  margin:1% 1% 1% 13%;
}
#Ffooter .F1{
  margin:0% 5% 0% 0%;
  text-align:left;
} 
#Ffooter .F2{
   margin:0% 0% 0% 0%;
   text-align:left;
} 
/* Nội Dung */

section#NoiDung {
    width:94%;
    height:auto;
    float:left;
    background:#26b4d0;
    padding:1%;
    margin:0% 2% 0% 2%;
    box-shadow:0px 0px 10px 2px  #26a7bb; 
}
/* #DropDownList{
    width:13%;
    height:auto;
    float:right;
    margin:5% 2% 2% 0%;
    background:#59ddd4;
    padding:2%;
    text-align:center;
}
    /*Themee*/
#GiaoDien {
  height: 0px;
  width: 18%;
  position: fixed;
  z-index: 1;
  top:40%;
  right:1%;
  background-color: rgba(89, 221, 212,0.4);
  overflow-x: hidden;
  transition:0.3s;
  text-align:center;
  display: block;
  overflow: hidden;
}
.sidebar
{
    padding-top:5%;
}
.icon {
  background:rgba(55, 212, 212,0.4);
  transition: margin-left .5s;
  margin:1% 0% 1% 1%;
  position: fixed;
  right:1%;
  bottom:0%;;
  text-decoration: none;
  border:2px white solid;
  padding:1%;
  font-weight:bold;
  color:#ffffff;
  border-radius:100%;
}
/*TaiKhoan*/
#TaiKhoan
{
    border:solid white;
    margin:5% 5% 10% 5%;
    padding:8%;
    background:rgba(89, 221, 212,0.8);
}
    #TaiKhoan input
    {
        width:90%;
        margin-bottom:2%;
    }
    #TaiKhoan a{
      text-decoration: none;
    }
    #bntDK.bntDangKy{
      width:40%;
      margin-top:5%;
      padding:1%;
    }
    #bntDN.bntDangNhap{
      width:50%;
      margin-top:5%;
      padding:1%;
    }
/*GioiThieu*/
.GT1 {
    float:left;
    width:45%;
    margin:1% 1% 1% 1%;
    color:white;
    background:#26a7bb;
    padding:1%;
    border:double white;
}
.GT2 {
    float:left;
    width:45%;
    margin:1% 1% 1% 1%;
    color:white;
    background:#26a7bb;
    padding:1%;
    border:double white;
}
/*HinhAnh*/
.QC1{
  width:96%;
  height:auto;
  text-align:center;
  margin:2% 1% 2% 2%;
  border: solid 1px #fff;
  background:rgba(46, 84, 80, 0.23);
}
.QC1 h1{
  color:#fff;
}
.Trang1 img {
  vertical-align: middle;
    height: auto;
    width: 100%;
    margin-left: 2px;
}
.Trang2 img {
  vertical-align: middle;
    height: auto;
    width: 100%;
    margin-left: 2px;
}
.container {
  position: relative;
  padding:1%;
  margin:0% 0% 0% 0%;
  display: inline-block;
}
.mySlides {
  display: none;
  margin:0% 0% 3% 0%;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 26px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left:0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  color: black;
}
.numbertext {
  display:none;
}
.caption-container {
  text-align: center;
  background-color: rgba(255, 255, 255,0.8);
  padding: 2px 16px;
  color: black;
  margin:1% 0% 1% 0%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  margin:1% 0% 0% 0%;
  float: left;
  width: 16%;
  height:auto;
}
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.row{
  text-align:center;
  margin:0% 0% 0% 6%;
  box-sizing:border-box;
}
/*HinhAnh2*/
#HA
{
  width:94%;
  padding:1%;
  height:auto;
  background:rgba(46, 84, 80, 0.23);
  margin:1% 0% 0% 2%;
  border:1px solid white;
  
}
#HA h1{
  background:rgb(255, 255, 255);
  color:black;
  padding:0.5% 0.5% 0% 1%;
  border-bottom:2px solid black;
  border-radius:100px 0px 50px 0px;
}
.Ab1 {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}
.ColumAlbum {
  -ms-flex: 50%; 
  flex: 20%;
  padding: 0 4px;

}

.ColumAlbum img {
  margin-top: 8px;
  vertical-align: middle;
  transition: transform .2s;
  border:2px solid white;
}
.ColumAlbum img:hover{
/*   opacity:0.7; */
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}
/*KHACHHANG*/
#KhachHang h1{
  color:#000000;
  text-align: left;
  margin:1% 0% 0% 2%;
  border:2px solid white;
  padding:1%;
  width:10%;
  border-radius: 0px 50px 50px 2px;
  background:#37d4d4;
}
.TrinhBay{
  margin: 2% 2% 2% 2%;
  border: solid #fff 2px;
  width:96%;
  background:rgb(55, 212, 212);
  text-align:left;
}
.TrinhBay ul{
  list-style:none;
  font-size:20px;
  padding:1%;
  width:90%;
  margin:1% 5% 1% 5%;
  background:#37d4d4;
  border:solid 1px white;
  border-radius: 50px 50px 50px 50px;
}
.TrinhBay p{
  text-indent:20px;
}

.TrinhBay span{
  text-align:center;
  border:solid 1px white;
  margin-left:18%;
  background:#f7f7f778;
  border-radius: 50px 50px 50px 50px;
  font-weight:bold;
  padding:5px;
}
/*TrangChu*/
.QuangCao{
      border: solid #fff 1px;
      text-align: center;
      margin: 1% 0% 0% 5%; 
      background: url(/StudioQH/Images/rrr.jpg) no-repeat;
      background-position: 0px -130px;
      background-size: cover;
      border: solid #fff 3px;
        border-radius: 4px; 
        box-shadow: 0 0 20px rgba(0, 214, 224, 0.6);
        height:135vh;
        width:90%;

}
.QuangCao div{
  font-size: 150%;
  color:#32a0c2;
  text-shadow: 1px 2px white;
}
.TimKiem{
  border: solid #fff 1px;
  text-align: center;
  margin: 2% 0% 0% 0%;
  background:rgba(50, 160, 194,0.9);
  color:white;
  height:60px;
}
.TimKiem a{
  margin: 0% 0% 0% 2%;
  float:left;
}
.TimKiem input{
  font-size:20px;
  width:35%;
  height:auto;
  margin:0% 0% 0% 20%;
}
.TimKiem button{
  font-size:20px;
  width:15%;
  height:auto;
  margin:0% 0% 0% 0%;
}

#GioiThieu{
  margin: 2% 0% 0% 0%;
  float:left;
}
.Trang1{
    margin: 0% 0% 0% 3%;
    background: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    border-radius: 4px;
    width: 44%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgb(99, 192, 202);
    color:#63c0ca;
    border: solid #fff 3px;
    margin-bottom:1%;
    text-align:center;
    float:left;
}
.Trang2{
    margin: 0% 3% 0% 0%;
    background: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    border-radius: 4px;
    width: 44%;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgb(99, 192, 202);
    color:#63c0ca;
    border: solid #fff 3px;
    margin-bottom:1%;
    text-align:center;
    float:right;
}
.x2{
  text-align:left;
  padding:5px;
  margin:0% 0% 0% 0%;

}
/*Đăng Ký*/
.DKy{
  text-align:center;
}
.DKy h1{
  color:white;
}

.ErrorMessage { color: Red; }
.auto-style1{

  border:solid white;
  background:#59ddd4;
  text-align:left;
  width:45%;
  height:auto;
  font-size:20px;
  padding:2%;
  margin:0% 0% 0% 30%;
}
.auto-style3
    {
        width:20%;
    }
    .auto-style4
    {
        width: 40%;
    }
    .auto-style7{
      width:5%;
    }
.CLbntDK
{
    color:white;
    background:rgba(0, 214, 224, 0.6);
    padding:2%;
    font-weight:bolder;
    margin:5% 0% 0% 20%;
}